openapi: 3.1.0
info:
  title: IPSnapshot IP Intelligence API
  version: "1.0"
  description: >
    Free IP lookup. Geolocation, ASN / ISP, and VPN, datacenter and Tor
    detection for IPv4 and IPv6, from locally hosted data. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://ipsnapshot.com/ip-lookup-api
    email: hello@ipnova.com
  license:
    name: Free to use, attribution appreciated
    url: https://ipsnapshot.com/ip-lookup-api
servers:
  - url: https://ipsnapshot.com
security:
  - {}
  - ApiKeyHeader: []
  - ApiKeyQuery: []
paths:
  /api/ip/{ip}:
    get:
      summary: Look up an IP address (or "self")
      operationId: lookupIp
      parameters:
        - name: ip
          in: path
          required: true
          description: IPv4 or IPv6 address, or the literal "self" for the caller's address
          schema:
            type: string
            example: "8.8.8.8"
      responses:
        "200":
          description: Lookup result
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  ip: { type: string, example: "8.8.8.8" }
                  data:
                    type: object
                    properties:
                      ip_version: { type: integer, enum: [4, 6] }
                      country_code: { type: string, example: "US" }
                      country: { type: string, example: "United States" }
                      region: { type: string, example: "California" }
                      city: { type: string, example: "Mountain View" }
                      continent: { type: string, example: "North America" }
                      asn: { type: integer, example: 15169 }
                      isp: { type: string, example: "Google LLC" }
                      is_vpn: { type: boolean }
                      is_tor: { type: boolean }
                      is_datacenter: { type: boolean }
                      risk_level: { type: string, example: "Clean" }
                      risk_score: { type: integer, minimum: 0, maximum: 100 }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: not a valid IPv4 or IPv6 address"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
components:
  schemas:
    Error:
      type: object
      description: Shared error envelope for every non-200 response across all IPNOVA APIs.
      required: [success, error, reason, message, docs]
      properties:
        success: { type: boolean, enum: [false] }
        error: { type: boolean, enum: [true] }
        reason:
          type: string
          enum: [invalid_input, invalid_key, rate_limit, daily_limit, credits_exhausted]
        message: { type: string, example: "Invalid IP. Provide an IPv4 or IPv6 address: /api/ip/8.8.8.8 (or /api/ip/self)" }
        docs: { type: string, format: uri, example: "https://ipsnapshot.com/ip-lookup-api" }
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Optional. A free api.ipnova.com key applies your plan allowance instead of the per-IP limits.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Optional. Same key, passed as a query parameter instead of the header.
  headers:
    XCreditsRemaining:
      description: Credits left in the current plan cycle for keyed requests; "unavailable" if the key service could not be reached.
      schema: { type: string, example: "4999" }
    XCreditsUsed:
      description: Credits charged for this call. Only 200 responses consume credits.
      schema: { type: string, example: "1" }
