openapi: 3.1.0
info:
  title: BankHolidayCheck Holidays API
  version: "1.0"
  description: >
    Free bank and public holiday API for 150+ countries: year calendars, the
    next upcoming holiday, per-date checks with a banks-closed verdict, and a
    business-days calculator. Names available in en, es, fr, de, pt, it, nl,
    pl. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://bankholidaycheck.com/holiday-api
    email: hello@ipnova.com
  license:
    name: Free to use, attribution appreciated
    url: https://bankholidaycheck.com/holiday-api
servers:
  - url: https://bankholidaycheck.com
security:
  - {}
  - ApiKeyHeader: []
  - ApiKeyQuery: []
components:
  parameters:
    cc:
      name: cc
      in: path
      required: true
      description: ISO 3166-1 alpha-2 country code
      schema: { type: string, pattern: "^[A-Za-z]{2}$", example: "GB" }
    lang:
      name: lang
      in: query
      required: false
      description: Language for holiday names
      schema: { type: string, enum: [en, es, fr, de, pt, it, nl, pl], default: en }
  schemas:
    Error:
      type: object
      description: Shared error envelope for every non-200 response across all IPNOVA APIs.
      required: [success, error, reason, message, docs]
      properties:
        success: { type: boolean, enum: [false] }
        error: { type: boolean, enum: [true] }
        reason:
          type: string
          enum: [invalid_input, invalid_key, not_found, rate_limit, daily_limit, credits_exhausted]
        message: { type: string, example: "No data for United Kingdom in 2030. Years available: 2025, 2026, 2027, 2028." }
        docs: { type: string, format: uri, example: "https://bankholidaycheck.com/holiday-api" }
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Optional. A free api.ipnova.com key applies your plan allowance instead of the per-IP limits.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Optional. Same key, passed as a query parameter instead of the header.
  headers:
    XCreditsRemaining:
      description: Credits left in the current plan cycle for keyed requests; "unavailable" if the key service could not be reached.
      schema: { type: string, example: "4999" }
    XCreditsUsed:
      description: Credits charged for this call. Only 200 responses consume credits.
      schema: { type: string, example: "1" }
paths:
  /api/holidays/{cc}/{year}:
    get:
      summary: Full holiday calendar for a country and year
      operationId: holidaysYear
      parameters:
        - $ref: "#/components/parameters/cc"
        - name: year
          in: path
          required: true
          schema: { type: integer, example: 2026 }
        - $ref: "#/components/parameters/lang"
      responses:
        "200":
          description: List of holidays
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  country: { type: string }
                  country_code: { type: string }
                  year: { type: integer, example: 2026 }
                  count: { type: integer, example: 15 }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date: { type: string, format: date, example: "2026-01-01" }
                        name: { type: string, example: "New Year's Day" }
                        weekday: { type: string, example: "Thursday" }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: malformed country code or year out of range"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "not_found: country or year not in the dataset"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  /api/holidays/next/{cc}:
    get:
      summary: The next upcoming holiday for a country
      operationId: holidaysNext
      parameters:
        - $ref: "#/components/parameters/cc"
        - $ref: "#/components/parameters/lang"
      responses:
        "200":
          description: Next holiday with a days-until counter
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  country: { type: string }
                  country_code: { type: string }
                  data:
                    type: object
                    properties:
                      date: { type: string, format: date, example: "2026-08-31" }
                      name: { type: string, example: "Late Summer Bank Holiday" }
                      days: { type: integer, example: 1 }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: malformed or unsupported country code"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "not_found: no upcoming holiday data for the country"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  /api/holidays/check/{cc}/{date}:
    get:
      summary: Is a specific date a holiday or weekend?
      operationId: holidaysCheck
      parameters:
        - $ref: "#/components/parameters/cc"
        - name: date
          in: path
          required: true
          schema: { type: string, format: date, example: "2026-12-25" }
        - $ref: "#/components/parameters/lang"
      responses:
        "200":
          description: Verdict for the date, including weekends
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  country: { type: string, example: "Germany" }
                  country_code: { type: string, example: "DE" }
                  date: { type: string, format: date, example: "2026-10-03" }
                  data:
                    type: object
                    properties:
                      is_holiday: { type: boolean }
                      holiday_name: { type: string, example: "German Unity Day" }
                      is_weekend: { type: boolean }
                      weekday: { type: string, example: "Saturday" }
                      banks_closed: { type: boolean }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: malformed country code or date"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  /api/business-days/{cc}/{from}/{to}:
    get:
      summary: Business days between two dates, holidays excluded
      operationId: businessDays
      parameters:
        - $ref: "#/components/parameters/cc"
        - name: from
          in: path
          required: true
          schema: { type: string, format: date, example: "2026-01-01" }
        - name: to
          in: path
          required: true
          schema: { type: string, format: date, example: "2026-03-31" }
        - $ref: "#/components/parameters/lang"
      responses:
        "200":
          description: Business-day count between from and to, inclusive, with holidays skipped
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  country: { type: string, example: "Germany" }
                  country_code: { type: string, example: "DE" }
                  from: { type: string, format: date, example: "2026-01-01" }
                  to: { type: string, format: date, example: "2026-03-31" }
                  inclusive: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      business_days: { type: integer, example: 63 }
                      total_days: { type: integer, example: 90 }
                      weekend_days: { type: integer, example: 26 }
                      holidays_skipped:
                        type: array
                        items:
                          type: object
                          properties:
                            date: { type: string, format: date, example: "2026-01-01" }
                            name: { type: string, example: "New Year's Day" }
                      weekend: { type: string, example: "Sat-Sun weekend" }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: invalid dates, or the range is over 5 years"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
