openapi: 3.1.0
info:
  title: AirportCodeCheck Airport Code & Routes API
  version: "1.0"
  description: >
    Free airport lookup by IATA or ICAO code, direct-flight destinations,
    nonstop or best one-stop connections between two airports, name/city
    search, and countries with airport counts. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://airportcodecheck.com/airport-api
    email: hello@ipnova.com
servers:
  - url: https://airportcodecheck.com
components:
  parameters:
    code:
      name: code
      in: path
      required: true
      description: IATA or ICAO airport code
      schema: { type: string, pattern: "^[A-Za-z0-9-]{2,12}$", example: "FNC" }
  schemas:
    Airport:
      type: object
      properties:
        slug: { type: string, example: "fnc" }
        name: { type: string, example: "Cristiano Ronaldo International Airport" }
        city: { type: string, example: "Funchal" }
        country: { type: string, example: "PT" }
        country_name: { type: string, example: "Portugal" }
        iata: { type: string, nullable: true, example: "FNC" }
        icao: { type: string, example: "LPMA" }
        type: { type: string, example: "large_airport" }
        scheduled_service: { type: boolean, example: true }
        lat: { type: number, example: 32.69781 }
        lon: { type: number, example: -16.77461 }
        elevation_ft: { type: integer, example: 192 }
        url: { type: string, format: uri, example: "https://airportcodecheck.com/airport/fnc" }
paths:
  /api/airport/{code}:
    get:
      summary: Look up an airport by IATA or ICAO code
      operationId: lookupAirport
      parameters:
        - $ref: "#/components/parameters/code"
      responses:
        "200":
          description: Airport found
          content:
            application/json:
              schema:
                type: object
                properties:
                  airport: { $ref: "#/components/schemas/Airport" }
                  source: { type: string }
        "404":
          description: No airport found for that code
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "No airport found for \"ZZZZZ\"." }
        "429":
          description: >
            Rate limit exceeded: 30 requests per minute, or 500 requests per
            day, per IP.
  /api/routes/{code}:
    get:
      summary: List direct-flight destinations from an airport
      operationId: lookupRoutes
      parameters:
        - $ref: "#/components/parameters/code"
      responses:
        "200":
          description: Airport and its nonstop destinations
          content:
            application/json:
              schema:
                type: object
                properties:
                  airport: { $ref: "#/components/schemas/Airport" }
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        iata: { type: string, nullable: true, example: "RIX" }
                        icao: { type: string, example: "EVRA" }
                        name: { type: string, example: "Riga International Airport" }
                        city: { type: string, example: "Riga" }
                        country: { type: string, example: "LV" }
                        airlines:
                          type: array
                          items: { type: string }
                          example: ["airBaltic"]
                        seasonal: { type: boolean, example: false }
                        distance_km: { type: integer, example: 4093 }
                        url: { type: string, format: uri, example: "https://airportcodecheck.com/flights/fnc-to-rix" }
                  refreshed: { type: string, format: date-time, nullable: true, example: "2026-09-09T06:43:14+00:00" }
                  source: { type: string }
        "404":
          description: No airport found for that code
        "429":
          description: >
            Rate limit exceeded: 30 requests per minute, or 500 requests per
            day, per IP.
  /api/connections/{from}/{to}:
    get:
      summary: Nonstop route or best one-stop options between two airports
      operationId: lookupConnections
      parameters:
        - name: from
          in: path
          required: true
          description: Origin IATA or ICAO airport code
          schema: { type: string, pattern: "^[A-Za-z0-9-]{2,12}$", example: "FNC" }
        - name: to
          in: path
          required: true
          description: Destination IATA or ICAO airport code
          schema: { type: string, pattern: "^[A-Za-z0-9-]{2,12}$", example: "JFK" }
      responses:
        "200":
          description: Distance, nonstop service if any, and one-stop options
          content:
            application/json:
              schema:
                type: object
                properties:
                  from: { $ref: "#/components/schemas/Airport" }
                  to: { $ref: "#/components/schemas/Airport" }
                  distance_km: { type: integer, example: 5071 }
                  nonstop:
                    type: object
                    nullable: true
                    properties:
                      airlines:
                        type: array
                        items: { type: string }
                      seasonal: { type: boolean }
                      url: { type: string, format: uri }
                  one_stop:
                    type: array
                    description: Up to 8 one-stop options, ranked by total distance, present only when nonstop is null
                    items:
                      type: object
                      properties:
                        via:
                          type: object
                          properties:
                            iata: { type: string, nullable: true, example: "PDL" }
                            icao: { type: string, example: "LPPD" }
                            name: { type: string, example: "João Paulo II Airport" }
                            city: { type: string, example: "Ponta Delgada" }
                            country: { type: string, example: "PT" }
                        leg1_airlines:
                          type: array
                          items: { type: string }
                          example: ["Azores Airlines"]
                        leg1_seasonal: { type: boolean, example: false }
                        leg2_airlines:
                          type: array
                          items: { type: string }
                          example: ["Azores Airlines"]
                        leg2_seasonal: { type: boolean, example: false }
                        total_km: { type: integer, example: 5090 }
                        detour_km: { type: integer, example: 19 }
                  source: { type: string }
        "404":
          description: Unknown origin or destination airport code
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Unknown origin or destination airport code." }
        "429":
          description: >
            Rate limit exceeded: 30 requests per minute, or 500 requests per
            day, per IP.
  /api/search:
    get:
      summary: Search airports by name, city or IATA code
      operationId: searchAirports
      parameters:
        - name: q
          in: query
          required: true
          description: 2 or more characters
          schema: { type: string, minLength: 2, example: "funchal" }
      responses:
        "200":
          description: Up to 8 matching airports
          content:
            application/json:
              schema:
                type: object
                properties:
                  airports:
                    type: array
                    items:
                      type: object
                      properties:
                        slug: { type: string, example: "fnc" }
                        name: { type: string, example: "Cristiano Ronaldo International Airport" }
                        city: { type: string, example: "Funchal" }
                        country:
                          type: string
                          description: Full country name (not the ISO code, unlike other endpoints)
                          example: "Portugal"
                        iata: { type: string, nullable: true, example: "FNC" }
                  source: { type: string }
        "400":
          description: Query shorter than 2 characters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Provide at least 2 characters in q." }
        "429":
          description: >
            Rate limit exceeded: 30 requests per minute, or 500 requests per
            day, per IP.
  /api/countries:
    get:
      summary: Countries with airport counts
      operationId: listCountries
      responses:
        "200":
          description: All countries with airport and IATA-airport counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        country: { type: string, example: "PT" }
                        name: { type: string, example: "Portugal" }
                        airports: { type: integer, example: 34 }
                        iata_airports: { type: integer, example: 12 }
                  source: { type: string }
        "429":
          description: >
            Rate limit exceeded: 30 requests per minute, or 500 requests per
            day, per IP.
