openapi: 3.1.0
info:
  title: TariffCodeCheck HS / Tariff Code API
  version: "1.0"
  description: >
    Free HS code lookup. One Harmonized System subheading with US HTS duty
    lines, EU Combined Nomenclature codes and UK commodity codes side by side,
    plus alias-aware search by product name or code prefix. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://tariffcodecheck.com/hs-code-api
    email: hello@ipnova.com
  license:
    name: Free to use, attribution appreciated
    url: https://tariffcodecheck.com/hs-code-api
servers:
  - url: https://tariffcodecheck.com
paths:
  /api/hs/{code}:
    get:
      summary: Look up an HS subheading
      operationId: lookupHsCode
      parameters:
        - name: code
          in: path
          required: true
          description: >
            HS digits, 2 to 13 characters, dots allowed (e.g. "851713" or
            "8517.13"). Non-digit characters are stripped and the result is
            truncated to 6 digits; codes longer than 6 digits resolve to their
            HS6 parent.
          schema:
            type: string
            pattern: "^[0-9.]{2,13}$"
            example: "851713"
      responses:
        "200":
          description: HS6 subheading found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  hs6: { type: string, example: "851713" }
                  code: { type: string, example: "8517.13" }
                  description: { type: string, example: "Smartphones" }
                  chapter:
                    type: object
                    properties:
                      number: { type: string, example: "85" }
                      title: { type: string, example: "Electrical machinery; electronics; sound and TV equipment" }
                  us_hts:
                    type: array
                    items:
                      type: object
                      properties:
                        hts: { type: string, example: "64041120" }
                        description: { type: string, example: "Having uppers of which over 50 percent of the external surface area (including any leather accessories or reinforcements such as those mentioned in note 4(a) to this chapter) is leather" }
                        context: { type: string, example: "Sports footwear; tennis shoes, basketball shoes, gym shoes, training shoes and the like" }
                        duty_general: { type: string, example: "10.5%" }
                        duty_special: { type: string, example: "Free (AU,BH, CL,CO,D,E,IL, JO,KR,MA, OM,P,PA,PE, R,S,SG)" }
                        duty_col2: { type: string, example: "35%" }
                        units:
                          type: array
                          items: { type: string }
                          example: ["prs."]
                        statistical:
                          type: array
                          items:
                            type: object
                            properties:
                              code: { type: string, example: "6404112030" }
                              description: { type: string, example: "For men" }
                  eu_cn:
                    type: array
                    items:
                      type: object
                      properties:
                        cn_code: { type: string, example: "85171300" }
                        description: { type: string, example: "Smartphones" }
                        taric_url: { type: string, format: uri, example: "https://ec.europa.eu/taxation_customs/dds2/taric/measures.jsp?Lang=en&Taric=8517130000" }
                  uk_commodities:
                    type: array
                    items:
                      type: object
                      properties:
                        commodity_code: { type: string, example: "8517130000" }
                        description: { type: string, example: "Smartphones" }
                  page: { type: string, format: uri, example: "https://tariffcodecheck.com/hs-code/851713" }
                  disclaimer: { type: string, example: "Reference data from official schedules; not a binding classification ruling." }
                  attribution: { type: string, example: "Data: USITC Harmonized Tariff Schedule (public domain) + UK Integrated Online Tariff (OGL v3.0) via TariffCodeCheck.com. Reference only, not a customs ruling." }
                  docs: { type: string, format: uri, example: "https://tariffcodecheck.com/hs-code-api" }
        "404":
          description: Code is not a resolvable HS6 subheading
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "Unknown HS code. Provide 6 digits: /api/hs/851713 (longer codes are truncated to their HS6 parent)." }
                  docs: { type: string, format: uri }
        "429":
          description: Rate limit exceeded (30/minute or 500/day per IP)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "Too many requests. Please slow down and try again in a minute. Higher-limit plans open shortly at api.ipnova.com." }
                  upgrade: { type: string, format: uri, example: "https://api.ipnova.com/" }
  /api/search:
    get:
      summary: Search HS subheadings by product name or code prefix
      operationId: searchHsCodes
      parameters:
        - name: q
          in: query
          required: true
          description: Product name or code prefix, up to 80 characters
          schema:
            type: string
            maxLength: 80
            example: "laptop"
      responses:
        "200":
          description: Up to 25 matching subheadings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  query: { type: string, example: "laptop" }
                  count: { type: integer, example: 1 }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        hs6: { type: string, example: "847130" }
                        code: { type: string, example: "8471.30" }
                        description: { type: string, example: "Portable automatic data processing machines, weighing not more than 10 kg, consisting of at least a central processing unit, a keyboard and a display" }
                        page: { type: string, format: uri }
                  attribution: { type: string }
        "400":
          description: Missing or empty q parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "Provide a query: /api/search?q=laptop" }
                  docs: { type: string, format: uri }
        "429":
          description: Rate limit exceeded (30/minute or 500/day per IP)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "Daily API limit reached (500/day per IP). Resets at midnight UTC. Higher-limit plans open shortly at api.ipnova.com." }
                  docs: { type: string, format: uri }
                  upgrade: { type: string, format: uri, example: "https://api.ipnova.com/" }
