openapi: 3.1.0
info:
  title: AreaCodeCheck Phone / Area Code API
  version: "1.0"
  description: >
    Free phone prefix analysis: country and dialling code for any number, plus
    area code, location and timezone for North American (+1) numbers. Numbers
    are never stored. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://areacodecheck.com/phone-api
    email: hello@ipnova.com
  license:
    name: Free to use, attribution appreciated
    url: https://areacodecheck.com/phone-api
servers:
  - url: https://areacodecheck.com
security:
  - {}
  - ApiKeyHeader: []
  - ApiKeyQuery: []
paths:
  /api/phone/{number}:
    get:
      summary: Analyze a phone number's prefix
      operationId: analyzePhone
      parameters:
        - name: number
          in: path
          required: true
          description: "3 to 15 digits, optionally with + or 00 prefix; send + as-is or URL-encoded as %2B, both are accepted"
          schema:
            type: string
            example: "+14155552671"
      responses:
        "200":
          description: Prefix analysis
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      input: { type: string, example: "+14155552671" }
                      e164: { type: string, example: "+14155552671" }
                      country_code: { type: string, example: "1" }
                      country: { type: string, example: "United States, Canada & NANP territories" }
                      region_iso: { type: string, example: "US" }
                      shared_note: { type: string }
                      area_code: { type: string, example: "415" }
                      area_location: { type: string, example: "California" }
                      area_country: { type: string, example: "United States" }
                      timezone: { type: string, example: "America/Los_Angeles" }
                      nanp_valid: { type: boolean }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: fewer than 3 or more than 15 digits"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
components:
  schemas:
    Error:
      type: object
      description: Shared error envelope for every non-200 response across all IPNOVA APIs.
      required: [success, error, reason, message, docs]
      properties:
        success: { type: boolean, enum: [false] }
        error: { type: boolean, enum: [true] }
        reason:
          type: string
          enum: [invalid_input, invalid_key, rate_limit, daily_limit, credits_exhausted]
        message: { type: string, example: "Provide a phone number of 3 to 15 digits: /api/phone/+14155552671" }
        docs: { type: string, format: uri, example: "https://areacodecheck.com/phone-api" }
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Optional. A free api.ipnova.com key applies your plan allowance instead of the per-IP limits.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Optional. Same key, passed as a query parameter instead of the header.
  headers:
    XCreditsRemaining:
      description: Credits left in the current plan cycle for keyed requests; "unavailable" if the key service could not be reached.
      schema: { type: string, example: "4999" }
    XCreditsUsed:
      description: Credits charged for this call. Only 200 responses consume credits.
      schema: { type: string, example: "1" }
