openapi: 3.1.0
info:
  title: SwiftCodeCheck SWIFT/BIC Lookup API
  version: "1.0"
  description: >
    Free SWIFT/BIC lookup. Identify the bank, branch, city, country and ISO
    9362 code breakdown behind any SWIFT/BIC code. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://swiftcodecheck.com/swift-code-api
    email: hello@ipnova.com
  license:
    name: Free to use, attribution appreciated
    url: https://swiftcodecheck.com/swift-code-api
servers:
  - url: https://swiftcodecheck.com
paths:
  /api/swift/{code}:
    get:
      summary: Look up a SWIFT / BIC code
      operationId: lookupSwiftCode
      parameters:
        - name: code
          in: path
          required: true
          description: >
            An 8 or 11-character SWIFT/BIC code. Case-insensitive; spaces and
            dashes are stripped before validation.
          schema:
            type: string
            pattern: "^[A-Za-z]{4}[A-Za-z]{2}[A-Za-z0-9]{2}([A-Za-z0-9]{3})?$"
            example: "DEUTDEFF"
      responses:
        "200":
          description: SWIFT/BIC code found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      swift_code: { type: string, example: "DEUTDEFF" }
                      bank: { type: string, example: "Deutsche Bank AG" }
                      city: { type: string, example: "Frankfurt Am Main" }
                      branch: { type: string, example: "" }
                      country_code: { type: string, example: "DE" }
                      country: { type: string, example: "Germany" }
                      bank_code: { type: string, example: "DEUT" }
                      location_code: { type: string, example: "FF" }
                      branch_code: { type: string, example: "XXX" }
                      head_office: { type: boolean, example: true }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: Input is not a valid 8 or 11-character SWIFT/BIC format
        "404":
          description: Code has a valid format but is not in the public dataset
        "429":
          description: Rate limit exceeded (30/minute or 500/day per IP)
