openapi: 3.1.0
info:
  title: CardBinCheck BIN Lookup API
  version: "1.0"
  description: >
    Free BIN / IIN lookup. Identify the card network, funding type, issuer and
    country behind the first 6 to 8 digits of a payment card. No key required.
  contact:
    name: IPNOVA SYSTEMS LTD
    url: https://cardbincheck.com/bin-lookup-api
    email: hello@ipnova.com
  license:
    name: Free to use, attribution appreciated
    url: https://cardbincheck.com/bin-lookup-api
servers:
  - url: https://cardbincheck.com
security:
  - {}
  - ApiKeyHeader: []
  - ApiKeyQuery: []
paths:
  /api/bin/{bin}:
    get:
      summary: Look up a card BIN / IIN
      operationId: lookupBin
      parameters:
        - name: bin
          in: path
          required: true
          description: The first 6 to 8 digits of a payment card
          schema:
            type: string
            pattern: "^[0-9]{6,8}$"
            example: "440066"
      responses:
        "200":
          description: BIN found
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      bin: { type: string, example: "440066" }
                      scheme: { type: string, example: "Visa" }
                      funding: { type: string, example: "Credit" }
                      segment: { type: string, example: "Signature" }
                      issuer: { type: string, example: "Unknown" }
                      country_code: { type: string, example: "US" }
                      country_name: { type: string, example: "United States" }
                      bank_url: { type: string }
                      bank_phone: { type: string }
                  page: { type: string, format: uri }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: input is not 6 to 8 digits"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: "not_found: BIN not in the public dataset"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      bin: { type: string, example: "999999" }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP) or credits_exhausted (keyed monthly allowance used up)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
  /api/bin-batch:
    post:
      summary: Look up up to 100 BINs in one call
      operationId: lookupBinBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bins]
              properties:
                bins:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { type: string, pattern: "^[0-9]{6,8}$" }
                  example: ["424242", "510510"]
      responses:
        "200":
          description: Batch results, one entry per input item (duplicates collapsed)
          headers:
            X-Credits-Remaining: { $ref: "#/components/headers/XCreditsRemaining" }
            X-Credits-Used: { $ref: "#/components/headers/XCreditsUsed" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  count: { type: integer, example: 2 }
                  found: { type: integer, example: 2 }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        found: { type: boolean }
                        bin: { type: string, example: "440066" }
                        error: { type: string, description: "Present instead of the lookup fields when found is false" }
                        scheme: { type: string, example: "Visa" }
                        funding: { type: string, example: "Credit" }
                        segment: { type: string, example: "Signature" }
                        issuer: { type: string, example: "Unknown" }
                        country_code: { type: string, example: "US" }
                        country_name: { type: string, example: "United States" }
                        bank_url: { type: string }
                        bank_phone: { type: string }
                  attribution: { type: string }
                  docs: { type: string, format: uri }
        "400":
          description: "invalid_input: bins missing, empty, not an array, or over 100 items"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: "invalid_key: the API key is malformed, unknown, revoked or expired"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "405":
          description: "method_not_allowed: method is not POST"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: "payload_too_large: request body over 64 KB"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: "rate_limit (30/minute per IP), daily_limit (500/day per IP, batch calls cost ceil(n/10)) or credits_exhausted"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
components:
  schemas:
    Error:
      type: object
      description: Shared error envelope for every non-200 response across all IPNOVA APIs.
      required: [success, error, reason, message, docs]
      properties:
        success: { type: boolean, enum: [false] }
        error: { type: boolean, enum: [true] }
        reason:
          type: string
          enum: [invalid_input, invalid_key, not_found, method_not_allowed, payload_too_large, rate_limit, daily_limit, credits_exhausted]
        message: { type: string, example: "BIN not found in the public dataset." }
        docs: { type: string, format: uri, example: "https://cardbincheck.com/bin-lookup-api" }
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Optional. A free api.ipnova.com key applies your plan allowance instead of the per-IP limits.
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Optional. Same key, passed as a query parameter instead of the header.
  headers:
    XCreditsRemaining:
      description: Credits left in the current plan cycle for keyed requests; "unavailable" if the key service could not be reached.
      schema: { type: string, example: "4999" }
    XCreditsUsed:
      description: Credits charged for this call. Only 200 responses consume credits.
      schema: { type: string, example: "1" }
